<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    {# Afficher les erreurs #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <form method="post">
        <label for="inputEmail">Email:</label>
        <input type="email" name="email" value="{{ last_username }}" required autofocus>
        
        <label for="inputPassword">Password:</label>
        <input type="password" name="password" required>

        {# Nouveau champ pour le code 2FA #}
        <label for="input2faCode">2FA Code (Google Authenticator):</label>
        <input type="text" name="_2fa_code" required>
        
        <button type="submit">Login</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>

    <p>You forgot your password?</p>
    <a href="{{ path('app_forgot_password') }}">
        <button type="button">Send me an email</button>
    </a>

    <p>You forgot your A2F code?</p>
    <a href="{{ path('app_2fa_recovery') }}">
        <button type="button">Use my recovery code</button>
    </a>

</body>
</html>
